
h2 {
    margin: auto;
}
/* #photo {
     margin: auto;
}
.firstrowbox {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color: #fff;
    background: deepskyblue;
    text-align: center; */
}
.wrapper {
    margin: auto;
    padding: 90px;
   
}
.carousel slide {
    margin-bottom: 30px;
}
body {
    background-color: black;
    color: rgb(51, 159, 209);
}
footer {
    background-color:black;
    color: #b1b1b1;
}
footer a {
    color: #b1b1b1;
}
/* contact */
.card {
    margin: 100px 0px 5px 0px;
    background-color: black;
}
label {
    margin: 10px 0px 15px 0px;
}
#sendbutton {
    margin: 10px 0px 10px 15px;
    background-color:  rgb(51, 159, 209);
    color: #b1b1b1;
}
.form-group {
    font-size: 22px;
}
.form-control {
    background-color:  #fff;
    color:  rgb(51, 159, 209);

}
.card-body {
    text-align: center;
}
/* portfolio */
#viewer {
    margin: 100px 0px 0px 0px;
}
h4 {
    text-align: center;
    font-size: 22px;
    margin: 20px 0px 20px 0px;
}
.btn.btn-primary {
    background-color:  rgb(51, 159, 209);
    color: #b1b1b1;

}
.gal-section {
    margin: 20px 0px 20px 0px;
}